parameters:
  CinderBackupBackend:
    default: ceph
    description: The short name of the Cinder Backup backend to use.
    type: string
    constraints:
    - allowed_values: ['swift', 'ceph']
  CinderBackupRbdPoolName:
    default: volumes
    type: string
  CephClientUserName:
    default: openstack
    type: string
  CinderEnableIscsiBackend:
    default: false
    type: boolean
  CinderEnableRbdBackend:
    default: true
    type: boolean
  CinderEnableNfsBackend:
    default: false
    type: boolean
  NovaEnableRbdBackend:
    default: true
    type: boolean
  GlanceBackend:
    default: rbd
    type: string
  NovaRbdPoolName:
    default: vms
    type: string
  GlanceRbdPoolName:
    default: images
    type: string
