[project]
	description = Install RHOSP on existing TripleO setup
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group rhosqeauto-contrib
	owner = group user/Arie Bregman (bregman-arie)
	owner = group user/Michal Pryc (mpryc)
	labelAs-Verified = -1..+1 group rdo-ci-group
	labelAs-Verified = -1..+1 group user/Michal Pryc (mpryc)
[access "refs/for/refs/*"]
	read = group rdo-ci-group
	read = group rhosqeauto-contrib
	read = group user/Arie Bregman (bregman-arie)
	read = group user/Michal Pryc (mpryc)
	push = group rhosqeauto-contrib
	push = group user/Arie Bregman (bregman-arie)
	push = group user/Michal Pryc (mpryc)
	label-Code-Review = -2..+2 group rdo-ci-group
	label-Code-Review = -2..+2 group user/Arie Bregman (bregman-arie)
	label-Code-Review = -2..+2 group user/David Sariel (dsariel)
	label-Code-Review = -2..+2 group user/Michal Pryc (mpryc)
	label-Verified = -1..+1 group rdo-ci-group
	label-Verified = -1..+1 group rhosqeauto-contrib
	label-Verified = -1..+1 group user/Arie Bregman (bregman-arie)
	label-Verified = -1..+1 group user/Michal Pryc (mpryc)
	rebase = group rhosqeauto-contrib
	rebase = group user/Arie Bregman (bregman-arie)
	rebase = group user/Michal Pryc (mpryc)
	removeReviewer = group rhosqeauto-contrib
	removeReviewer = group user/Arie Bregman (bregman-arie)
	removeReviewer = group user/Michal Pryc (mpryc)
	submit = group rhosqeauto-contrib
	submit = group user/Arie Bregman (bregman-arie)
	submit = group user/David Sariel (dsariel)
	submit = group user/Michal Pryc (mpryc)
[access "refs/heads/*"]
	read = group rhosqeauto-contrib
	read = group user/Arie Bregman (bregman-arie)
	read = group user/Michal Pryc (mpryc)
	create = group rhosqeauto-contrib
	create = group user/Arie Bregman (bregman-arie)
	create = group user/Michal Pryc (mpryc)
	push = +force group user/Arie Bregman (bregman-arie)
	push = group user/Michal Pryc (mpryc)
	pushMerge = group rhosqeauto-contrib
	pushMerge = group user/Arie Bregman (bregman-arie)
	pushMerge = group user/David Sariel (dsariel)
	pushMerge = group user/Michal Pryc (mpryc)
[access "refs/tags/*"]
	push = group rhosqeauto-contrib
	push = +force group user/Arie Bregman (bregman-arie)
	push = group user/David Sariel (dsariel)
	push = group user/Michal Pryc (mpryc)
	push = group user/RHOS CI (rhos-ci)
	createTag = group rhosqeauto-contrib
	createTag = group user/Arie Bregman (bregman-arie)
	createTag = group user/Michal Pryc (mpryc)
	createSignedTag = group rhosqeauto-contrib
	createSignedTag = group user/Arie Bregman (bregman-arie)
	createSignedTag = group user/Michal Pryc (mpryc)
