[project]
	description = Install RHOSP on existing TripleO setup
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group rhosqeauto-contrib
	owner = group user/Arie Bregman (bregman-arie)
[access "refs/for/refs/*"]
	read = group rhosqeauto-contrib
	read = group user/Arie Bregman (bregman-arie)
	push = group rhosqeauto-contrib
	push = group user/Arie Bregman (bregman-arie)
	label-Code-Review = -2..+2 group user/Arie Bregman (bregman-arie)
	label-Code-Review = -2..+2 group user/Michal Pryc (mpryc)
	label-Verified = -1..+1 group rhosqeauto-contrib
	label-Verified = -1..+1 group user/Arie Bregman (bregman-arie)
	rebase = group rhosqeauto-contrib
	rebase = group user/Arie Bregman (bregman-arie)
	removeReviewer = group rhosqeauto-contrib
	removeReviewer = group user/Arie Bregman (bregman-arie)
	submit = group rhosqeauto-contrib
	submit = group user/Arie Bregman (bregman-arie)
[access "refs/heads/*"]
	read = group rhosqeauto-contrib
	read = group user/Arie Bregman (bregman-arie)
	create = group rhosqeauto-contrib
	create = group user/Arie Bregman (bregman-arie)
	push = group rhosqeauto-contrib
	push = +force group user/Arie Bregman (bregman-arie)
	pushMerge = group rhosqeauto-contrib
	pushMerge = group user/Arie Bregman (bregman-arie)
[access "refs/tags/*"]
	push = group rhosqeauto-contrib
	push = +force group user/Arie Bregman (bregman-arie)
	pushTag = group rhosqeauto-contrib
	pushTag = group user/Arie Bregman (bregman-arie)
	pushSignedTag = group rhosqeauto-contrib
	pushSignedTag = group user/Arie Bregman (bregman-arie)
