[rhelosp-8.0-director-puddle]
name=RHEL-OSP 8 director
# puddle_baseurl=http://download.lab.bos.redhat.com/rel-eng/OpenStack/8.0-RHEL-7-director/2016-05-11.1/RH7-RHOS-8.0-director/$basearch/os
baseurl=http://download.lab.bos.redhat.com/rel-eng/OpenStack/8.0-RHEL-7-director/2016-04-15.1/RH7-RHOS-8.0-director/$basearch/os
gpgcheck=0
enabled=1
