[rhelosp-8.0-puddle]
name=RHOS-8.0
# puddle_baseurl=http://download.lab.bos.redhat.com/rel-eng/OpenStack/8.0-RHEL-7/2016-05-11.1/RH7-RHOS-8.0/$basearch/os
baseurl=http://download.lab.bos.redhat.com/rel-eng/OpenStack/8.0-RHEL-7/2016-05-11.1/RH7-RHOS-8.0/$basearch/os
gpgcheck=0
enabled=1
