[download.eng.bos.redhat.com_devel_candidate-trees_Ceph-2.0-RHEL-7-20160708.1_compose_MON_x86_64_os]
name=added from: http://download.eng.bos.redhat.com/devel/candidate-trees/Ceph-2.0-RHEL-7-20160708.1/compose/MON/x86_64/os
baseurl=http://download.eng.bos.redhat.com/devel/candidate-trees/Ceph-2.0-RHEL-7-20160708.1/compose/MON/x86_64/os
enabled=1
gpgcheck=0
