#!/usr/bin/env python

import os
import os_client_config

nova = os_client_config.make_client('compute', cloud=os.environ.get('OS_CLOUD'))

print {server.name: server.networks[
    'ctlplane'][0] for server in nova.servers.list()}
print {server.name: server.networks[
    'ctlplane'][0] for server in nova.servers.list()}
